parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 7 days


di:
	export:
		parameters: no
		tags: no

	debugger: true  # aktivuje panel v Debugger baru

security:
    debugger: true  # panel v Debugger baru

services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Service\Authenticator

search:
    adminModule:
        in: %appDir%/AdminModule
        classes:
            - *Factory
    frontModule:
            in: %appDir%/FrontModule
            classes:
                - *Factory
    repository:
            in: %appDir%/Model/Repository
            extends:
                - App\Model\Repository\Repository

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

includes:
    - doctrine.neon